{% extends 'base2.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
<div class="pg-bg">
    <main>
        <div class="container text-start pt-3">
            <div class="col">
                <h1 style="font-weight: bold; font-family: Arial, Helvetica, sans-serif;">Create Event</h1>
            </div>
        </div>
        <form method="POST" class="was-validated" enctype="multipart/form-data">
            <!-- Event Name -->
            <div class="container text-start my-4">
                <div class="mb-3">
                    <label for="event_name" class="create_subheading">Event Name*</label>
                    <input name="event_name" type="text" class="form-control" id="event_name" placeholder="Event Title" required>
                    <div class="invalid-feedback">
                        Please add an event name.
                    </div>
                </div>
            </div>

            <!-- Cover Photo -->
            <div class="container img-upload d-flex justify-content-center align-items-center mt-1">
                <div class="d-flex flex-column align-items-center">
                    <div class="p2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="white" class="bi bi-download" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                            </svg>
                    </div>
                    <div class="p2" align="center">
                        <label for="event_photo"><h4 class="HomePage_Text">Upload Cover Photo</h4></label>
                        <input name="event_photo" type="file" class="form-control" id="event_photo" required>
                        <div class="invalid-feedback">
                            Please upload a cover photo.
                        </div>
                    </div>
                </div>
            </div>

            <!-- Event Introduction -->
            <div class="container text-start my-4">
                <div class="mb-3">
                    <label for="event_introduction" class="create_subheading">Event Introduction*</label>
                    <textarea name="event_introduction" class="form-control" id="event_introduction"
                        rows="2" maxlength="100" placeholder="Event Introduction (100 Words Max.)" required></textarea>
                    <div class="invalid-feedback">
                        Please add an introduction.
                    </div>
                </div>
            </div>

            <!-- Musicians -->
            <div class="container text-start my-4">
                <div class="mb-3">
                    <label for="event_musician" class="create_subheading">Musicians</label>
                    <textarea name="event_musician" class="form-control" id="event_musician"
                        rows="2" maxlength="100" placeholder="Musician List (100 Words Max.)" required></textarea>
                </div>
            </div>

            <!-- Event Description -->
            <div class="container text-start my-4">
                <div class="mb-3">
                    <label for="event_description" class="create_subheading">Event Description*</label>
                    <textarea name="event_description" class="form-control" id="event_description"
                        rows="10" maxlength="1000" placeholder="Event Description (1000 Words Max)" required></textarea>
                    <div class="invalid-feedback">
                        Please add an event description.
                    </div>
                </div>
            </div>

            <!-- Music Categories -->
            <div class="container text-start my-4">
                <div class="mb-3">
                    <label for="event_category" class="create_subheading">Music Category*</label>
                    <select name="event_category" class="form-select" id="event_category" required>
                        <option value="" disabled selected>Select Music Category</option>
                        <option value="Pop">Pop</option>
                        <option value="Classical">Classical</option>
                        <option value="Jazz">Jazz</option>
                        <option value="Rock">Rock</option>
                        <option value="Country">Country</option>
                        <option value="Hip Hop">Hip Hop</option>
                    </select>
                    <div class="invalid-feedback">
                        Please add a music category.
                    </div>
                </div>
            </div>

            <!-- Location -->
            <div class="container text-start my-4">
                <div class="mb-3">
                    <label for="event_location" class="create_subheading">Location*</label>
                    <input name="event_location" type="text" class="form-control" id="event_location"
                        placeholder="Location" required>
                    <div class="invalid-feedback">
                        Please enter the location.
                    </div>
                </div>
            </div>

            <!-- Date and Time -->
            <div class="container text-start my-4">
                <div class="mb-3">
                    <label for="event_datetime" class="create_subheading">Date and Time*</label>
                    <input name="event_datetime" type="datetime-local" class="form-control" id="event_datetime"
                        required>
                    <div class="invalid-feedback">
                        Please add a date and time.
                    </div>
                </div>
            </div>

            <!-- Ticket Cost -->
            <div class="container text-start my-4">
                <div class="mb-3">
                    <label for="event_cost" class="create_subheading">Ticket Cost*</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input name="event_cost" type="number" class="form-control" id="event_cost"
                            required>
                        <span class="input-group-text">.00</span>
                    </div>
                    <div class="invalid-feedback">
                        Please add a ticket cost.
                    </div>
                </div>
            </div>

            <!-- Ticket Availabilities -->
            <div class="container text-start my-4">
                <div class="mb-3">
                    <label for="event_availabilities" class="create_subheading">Ticket Availabilities*</label>
                    <input name="event_availabilities" type="number" class="form-control"
                        id="event_availabilities" placeholder="Enter number of tickets" required>
                    <div class="invalid-feedback">
                        Please add ticket availabilities.
                    </div>
                </div>
            </div>

            <!-- Submit Button -->
            <div class="container text-start my-4">
                <button type="submit" class="btn btn-secondary my-4 center"
                        data-bs-toggle="modal" data-bs-target="#EventCreated">Create my event</button>
            </div>
        </form>
    </main>
</div>

<!-- Modal -->
<div class="modal fade" id="EventCreated" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="EventCreatedLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="EventCreatedLabel">Event Created</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="green"
                        class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg>
                </div>
                <div class="container text-center">
                    Your event has been created.
                </div>
            </div>
            <div class="modal-footer">
                <a button type="button" class="btn btn-secondary" href="./index.html">Return to Home</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
