{% extends 'base2.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
<div class="pg-bg">
    <main>
        <div class="container text-start pt-3">
            <div class="col">
                <h1 style="font-weight: bold; font-family: Arial, Helvetica, sans-serif;">Create Event</h1>
            </div>
        </div>
        <form class= "was-validated">
            <!--Image Drop-->
            <div class="container img-upload d-flex justify-content-center align-items-center mt-1">
                <div class="d-flex flex-column align-items-center">
                    <div class="p2">
                    </div>
                    <div class="p2" align = "center">
                          <label for= "validationPhoto"><h4 class="HomePage_Text">Upload Cover Letter</h4></label>
                          <div class="mb-3">
                            <input class="form-control" type="file" id="validationPhoto" required>
                            <div class = "invalid-feedback">
                              Please upload a cover photo.
                            </div>
                          </div>
                    </div>
                </div>    
            </div>
            <!--Event Details-->
            <div class="container text-start my-4">
                <div class="mb-3">
                    <label for="event_introduction" class="create_subheading">Event Introduction*</label>
                    <textarea name="event_introduction" class="form-control" id="event_introduction"
                        rows="2" maxlength="100" placeholder="Event Introduction (100 Words Max.)" required></textarea>
                    <div class="invalid-feedback">
                        Please add an introduction.
                    </div>
                </div>
            </div>

            <!-- Musicians -->
            <div class="container text-start my-4">
                <div class="mb-3">
                    <label for="event_musician" class="create_subheading">Musicians</label>
                    <textarea name="event_musician" class="form-control" id="event_musician"
                        rows="2" maxlength="100" placeholder="Musician List (100 Words Max.)"></textarea>
                </div>
            </div>


                        <div>
                            <label for="validationDescription" class="create_subheading">Describe Your Event*</label>
                            <div class="mb-3">
                                <textarea class="form-control" id="Event Description" rows="10" maxlength="1000" placeholder="Event Description (1000 Words Max)" id="validationDescription" required></textarea>
                                <div class="invalid-feedback">
                                  Please add an event description.
                                </div>                            
                              </div> 
                        </div>
                        
                    </div>
                    <div class="container create-details col-lg-4">
                        <div class="create_subheading2">Enter Event Details</div>
                        <div>
                            <label for="validationCategory" class="create_subheading3">Music Category*</label>
                            <select class="form-select form-select-md" aria-label="Small select example" id="validationCategory" required>
                                <option selected disabled value>Select Music Category</option>
                                <option value="1">Pop</option>
                                <option value="2">Classical</option>
                                <option value="3">Jazz</option>
                                <option value="4">Rock</option>
                                <option value="5">Country</option>
                                <option value="6">Hip Hop</option>
                            </select>
                            <div class="invalid-feedback">
                              Please add a music category.
                            </div>
                        </div>
                        <div>
                            <label for= "validationVenueLocation" class="create_subheading3">Venue Location*</label>
                            <input class="form-control" list="Venues" id="VenueLocation" placeholder="Find a Location" id="validationVenueLocation" required>
                                <datalist id="Venues">
                                <option value="Brisbane, QLD">
                                <option value="Sydney, NSW">
                                <option value="Perth, WA">
                                <option value="Darwin,NT">
                                <option value="Adelaide, SA">
                                <option value="Melbourne, VIC">
                                </datalist>
                        </div>

                        <div>
                            <label for="validationDateTime" class="create_subheading3">Date and Time</label>
                            <input type="datetime-local" class="form-control" id="validationDateTime" required>
                            <div class="invalid-feedback">
                              Please add a date and time.
                            </div>
                        </div>

                        <div>
                            <label for="validationTicketPrice" class="create_subheading3">Ticket Price*</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text">$</span>
                                 <input type="number" class="form-control" aria-label="Nearest dollar" id="validationTicketPrice" required>
                                 <span class="input-group-text">.</span>
                                 <input type="number" class="form-control" aria-label="cents" id="validationTicketPrice" max="99" required>                          
                                 <div class="invalid-feedback">
                              Please add a ticket price.
                            </div>
                            </div>

                        </div>

                        <div>
                            <label for="validationTicketNumber" class="create_subheading3">Ticket Availabilities*</label>
                            <input type="number" class="form-control" placeholder="Enter number of tickets" min="0" id="validationTicketNumber" required>
                            <div class="invalid-feedback">
                              Please add ticket availabilities.
                            </div>
                        </div>                        
                    </div>
                </div>                
                <button type="Submit" class="btn btn-secondary my-4 center" data-bs-toggle="modal" data-bs-target="#EventCreated">Create my event</button>
            </div>
            <div class="modal fade" id="EventCreated" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="EventCreatedLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="EventCreatedLabel">Event Created</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="d-flex justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg>  
                  </div>
                  <div class="container text-center">
                    Your event has been created.
                  </div>
                </div>
                <div class="modal-footer">
                  <a button type="button" class="btn btn-secondary" href="./index.html">Return to Home</button></a>
                </div>
              </div>
            </div>
          </div>
        </form>
    </main>
</div>

<!-- Modal -->
<div class="modal fade" id="EventCreated" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="EventCreatedLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="EventCreatedLabel">Event Created</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="green"
                        class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg>
                </div>
                <div class="container text-center">
                    Your event has been created.
                </div>
            </div>
            <div class="modal-footer">
                <a button type="button" class="btn btn-secondary" href="./index.html">Return to Home</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
