{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block header %}
          <div id="EventCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active eventbanner-item">
                <img src="/static/img/EventPhotos/QSO.jpg" class="d-block w-100 eventbanner-img" alt="QSO">
              </div>
            </div>
          </div>
{% endblock %}

{% block content %}
  <div class="pg-bg">
    <main>
      {% with message = get_flashed_messages(with_categories=false) %}
      {% if message %}
        <div class="alert alert-success">{{ message[0] }}</div>
      {% endif %}
      {% endwith %}
    
        <!--Event Details-->
        <div class="container">
          <div class = "row">
            <div class="container col-lg-8">
              <div class="mt-5 details_subheading">
                  {{event.name}}
              </div>

              <div class="mt-3">
                <div class="row">
                  <div class="container">
                    <div class ="details_subheading2">Musicians</div>
                    <div class="col-lg-2">
                      <div class="row">
                        <div class = "container text-center">
                          <!-- <img src="./static/img/MusicianProfile/qso.jfif" alt="Avatar" class="profile"> -->
                          <h6>{{event.musician}}</h6>
                        </div>
                      </div>
                    </div>  
                  </div>
                </div>
              </div> 

              <div class = "mt-3">
                <div class ="details_subheading2">About The Event</div>
              </div>
                {{event.intro}}
              <div class="details-page">
                {{event.description}}
              </div>
            </div>

              <div class="container event-details col-lg-4 ml-4 mt-5 text-center">
                  {% if event.status == True %}
                  <div class="status-open mx-auto text-center">
                    Open
                  </div>
                  {% endif %}
                    <div>
                      <div class='details_subheading3'>Music Category</div>
                      <div class="details-page">
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-music-note" viewBox="0 0 16 16">
                          <path d="M9 13c0 1.105-1.12 2-2.5 2S4 14.105 4 13s1.12-2 2.5-2 2.5.895 2.5 2z"/>
                          <path fill-rule="evenodd" d="M9 3v10H8V3h1z"/>
                          <path d="M8 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 13 2.22V4L8 5V2.82z"/>
                        </svg>
                        {{event.category}}
                      </div>
                    </div>
                  <div>
                      <div class="details_subheading3">Venue Location</div>
                      <div class="details-page">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                          <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                        </svg>
                        {{event.location}}
                      </div>
                  </div>

                  <div>
                      <div class="details_subheading3">Date and Time</div>
                      <div class="details-page">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-calendar-check-fill" viewBox="0 0 16 16">
                          <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-5.146-5.146-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                        </svg>
                        {{event.date}}
                      </div>
                  </div>

                  <div>
                      <div class="details_subheading3">Ticket Price</div>
                      <div class="details-page">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                          <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
                        </svg>
                          {{event.price}} AUD
                      </div>
                  </div>

                  <div>
                      <div class="details_subheading3">Ticket Availabilities</div>
                      <div class="details-page">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ticket-fill" viewBox="0 0 16 16">
                          <path d="M1.5 3A1.5 1.5 0 0 0 0 4.5V6a.5.5 0 0 0 .5.5 1.5 1.5 0 1 1 0 3 .5.5 0 0 0-.5.5v1.5A1.5 1.5 0 0 0 1.5 13h13a1.5 1.5 0 0 0 1.5-1.5V10a.5.5 0 0 0-.5-.5 1.5 1.5 0 0 1 0-3A.5.5 0 0 0 16 6V4.5A1.5 1.5 0 0 0 14.5 3h-13Z"/>
                        </svg>
                        {{event.availability}} Tickets Available
                      </div>
                  </div>

                  <!--Ticket Booking-->
                  <div class="mt-3 text-center">
                    <button type="button" class="btn btn-secondary booking_btn text-center" data-bs-toggle="modal" data-bs-target="#BookTickets">Book Tickets</button>
                  </div>
                  
                  <div class="modal fade" id="BookTickets" aria-hidden="true" aria-labelledby="BookTicketsToggleLabel" data-bs-backdrop="static" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="BookTicketsToggleLabel">Ticket Booking</h1>
                        </div>
                        <div class="modal-body">

                            <h3>{{event.name}}</h3>
                          <form class="was-validated">
                            <div class="container">
                              <div class="row">
                                <div class="container col-lg-2">
                                  <img src="{{event.image}}" class="card-img-top ticketbooking_img" alt="QSO">
                                </div>
                                <div class="container col-lg-6">
                                  <label for="TicketBookingNo" class="form-label"><h5>Enter Number of Tickets</h5></label>
                                  <input type="number" class="form-control" placeholder="Enter number of tickets" id="TicketBookingNo" required>
                                  <div class="invalid-feedback">
                                    Please provide a number of tickets.
                                  </div>

                                  <div class="form-check text-start">
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                    <label class="form-check-label" for="invalidCheck">
                                      Agree to terms and conditions
                                    </label>
                                    <div class="invalid-feedback">
                                      You must agree before submitting.
                                    </div>
                                  </div>  
                                </div>
                              </div> 
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type= "button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                          <button type= "submit" class="btn btn-secondary" data-bs-target="#BookTickets2" data-bs-toggle="modal">Checkout</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade" id="BookTickets2" aria-hidden="true" aria-labelledby="BookTicketsLabel2" data-bs-backdrop="static" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="BookTicketsLabel2">Checkout</h1>
                        </div>
                        <div class="modal-body">
                          <form class="row g-3 was-validated">
                            <h3>Enter Card Details</h3>
                            <div class="container">
                              <div class="container">
                                <div class="col-lg-12">
                                  <label for="CardName" class="form-label">Cardholder Name</label>
                                  <input type="text" class="form-control" id="Cardholder Name" placeholder="Enter Card Holder Name" required>
                                  <div class="invalid-feedback">
                                    Please provide a Cardholder Name.
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-lg-9">
                                    <label for="CardNumber" class="form-label">Card Number</label>
                                    <input type="number" class="form-control" id="CardNumber" placeholder="Enter Card Number" min="0" max="9999999999999999" required>
                                    <div class="invalid-feedback">
                                      Please provide a Card Number.
                                    </div>
                                  </div>
                                  <div class="col-lg-3">
                                    <label for="CVV" class="form-label">CVV</label>
                                    <input type="number" class="form-control" id="CardNumber" placeholder="Enter CVV" min="0" max="999" required>
                                    <div class="invalid-feedback">
                                      Please provide a CVV.
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-3">
                                    <label for="CardMonth" class="form-label">Month</label>
                                    <select class="form-select" id="CardMonth" required>
                                      <option selected disabled value="">Enter Month</option>
                                      <option>January</option>
                                      <option>February</option>
                                      <option>March</option>
                                      <option>April</option>
                                      <option>May</option>
                                      <option>June</option>
                                      <option>July</option>
                                      <option>August</option>
                                      <option>September</option>
                                      <option>October</option>
                                      <option>November</option>
                                      <option>December</option>
                                    </select>
                                    <div class="invalid-feedback">
                                      Please select a month.
                                    </div>
                                  </div>
                                  <div class="col-md-3">
                                    <label for="CardYear" class="form-label">Year</label>
                                    <input type="number" class="form-control" id="CardYear" min="1000" max="9999" placeholder="Enter Year" required>
                                    <div class="invalid-feedback">
                                      Please enter a year.
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-outline-secondary" data-bs-target="#BookTickets" data-bs-toggle="modal">Return</button>
                          <button type= "submit" class="btn btn-secondary" data-bs-target="#BookTickets3" data-bs-toggle="modal">Book Tickets</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade" id="BookTickets3" aria-hidden="true" aria-labelledby="BookTickets3ToggleLabel" data-bs-backdrop="static" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="BookTickets3ToggleLabel">Booking Complete</h1>
                        </div>
                        <div class="modal-body">
                          <div class="container align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                            </svg>
                          </div>
                          <div>
                            You tickets have been booked.
                          </div> 
                        </div>
                        <div class="modal-footer">
                          <a role="button" class="btn btn-secondary" href="./history.html">View Booking History</a>
                        </div>
                      </div>
                    </div>
                  </div>

              </div>
            </div>
          <div class="container">
            <div class ="row mt-5">
              <div class="container col-lg-8 text-center">
                <h5>Event created by:</h5>
                <div class="col center">
                  <div class="row">
                    <div class = "container text-center">
                      <!-- <img src="./static/img/MusicianProfile/qso.jfif" alt="Avatar" class="profile"> -->
                      <h6>{{event.musician}}</h6>
                    </div>
                  </div>
                </div>  
              </div>
              <div>
            </div> 
          </div>
        </div>  
        <div class="details-page">
          <h2>Comments</h2>
        </div>
        <div class="container">
            <form method="POST" action="{{url_for('events.comment', id=event.id)}}" class="was-validated">
              {{ form.hidden_tag() }}
              <div class="mb-3 comment_box">          
                <div class="container col-lg">
                  <label for="UserComment" class="form-label details-page"><h3>Your Comment</h3></label>
                  {{ form.text(class="form-control", rows="3", placeholder="Write your comment (250 Words Max)") }}
                  <div class="invalid-feedback">
                  Please enter your comment.
                  </div>
                  <div class = "mt-3 d-flex flex-column align-items-center">
                    {{form.submit()}}
                  </div>
                </div>      
              </div>
            </form>
        </div> 
        {% for comment in event.comments %}
        <div class="container mt-3">
          <div class="container comment_box">
            <div class="comment_heading">
              {{comment.user.name}}
            </div>
            <div class="comment_body">
              <p>{{comment.text}}</p>
            </div>
            <div class="mt-3 comment_footer">
              Posted: {{comment.created_at}}
            </div>
          </div>
        </div>
        {% endfor %}

        
{% endblock %}