{% extends 'base.html' %}

{% block header %}
  <!-- Home Page Carousel -->
  <div id="HomePageCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#HomePageCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#HomePageCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active c-item">
        <img src="/static/img/Carousel1.jpg" class="d-block w-100 c-img" alt="...">
        <div class="carousel-caption d-none d-sm-block">
          <h1>Explore the world of music...</h1>
        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="/static/img/Carousel2.jpg" class="d-block w-100 c-img" alt="...">
        <div class="carousel-caption d-none d-sm-block">
          <h1>...or create the world of music.</h1>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#HomePageCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#HomePageCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock %}

{% block content %}
  <main>
    <div class="mt-3">
      <h1 align="center">Let's see what's on!</h1>
    </div>
    <section id="categories-section">
      <h2 align="center">Categories</h2>
      <div class="container">
        <div class="row">
        <div class="col-12">
          <div class="btn-group d-flex" role="group" aria-label="Category Buttons"> 
            <a href="{{ url_for('events.Allevents')}}" button type="button" class="btn btn-secondary">All</a>
            <a href="{{ url_for('events.Popevents')}}" button type="button" class="btn btn-secondary">Pop</a>
            <a href="{{ url_for('events.Classicevents')}}" button type="button" class="btn btn-secondary">Classical</a>
            <a href="{{ url_for('events.Jazzevents')}}" button type="button" class="btn btn-secondary">Jazz</a>
            <a href="{{ url_for('events.Rockevents')}}" button type="button" class="btn btn-secondary">Rock</a>
            <a href="{{ url_for('events.Countryevents')}}" button type="button" class="btn btn-secondary">Country</a>
            <a href="{{ url_for('events.HipHopevents')}}" button type="button" class="btn btn-secondary">HipHop</a>
          </div>
        </div>
      </div>
      </div>
      </section>
      <div class="container text-start pt-3">
        <div class="col">
            <h1 style="font-weight: bold; font-family: Arial, Helvetica, sans-serif;">All Events</h1>
        </div>
      </div>
  
      <div class="container col-md mt-3">
          {% if Allevents %}
          <div class="row row-col-1 row-cols-md-4 g-4">
            {% for event in Allevents %}
              <div class="col-lg-3">
                <div class="card">
                  <img src="{{ event.image }}" class="card-img-top event-img" alt="QSO">
                  <div class="card-body">
                    <h5 class="card-title">{{ event.name }}</h5>
                    <p class="card-text">{{ event.intro }}</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-music-note" viewBox="0 0 16 16">
                        <path
                          d="M9 13c0 1.105-1.12 2-2.5 2S4 14.105 4 13s1.12-2 2.5-2 2.5.895 2.5 2z" />
                        <path fill-rule="evenodd" d="M9 3v10H8V3h1z" />
                        <path
                          d="M8 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 13 2.22V4L8 5V2.82z" />
                      </svg>
                      {{ event.category }}
                    </li>
                    <li class="list-group-item">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-calendar-week-fill" viewBox="0 0 16 16">
                        <path
                          d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zM9.5 7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm3 0h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm2 3.5a.5.5 0 0 1-.5.5H13a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1zm-3-1.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z" />
                      </svg>
                      {{ event.date }}
                    </li>
                    <li class="list-group-item">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-currency-dollar" viewBox="0 0 16 16">
                        <path
                          d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086" />
                      </svg>
                      {{ event.price }}
                    </li>
                    <li class="list-group-item">
                      {% if event.status == 'Cancelled' %}
                        <div class="status-cancelled mx-auto text-center">
                          Cancelled
                        </div>
                      {% elif event.availability == 0 %}
                        <div class="status-soldout mx-auto text-center">
                          Sold Out
                        </div>
                      {% elif currentdatetime > event.date %}
                        <div class="status-inactive mx-auto text-center">
                          Inactive
                        </div>
                      {% elif event.status == 'Open' %}
                        <div class="status-open mx-auto text-center">
                          Open
                        </div>
                      {% endif %}
                    </li>
                  </ul>
                </div>
              </div>
            {% endfor %}
          </div>
          {% else %}
            <div class = "container mx-auto text-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-emoji-frown" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
              </svg>
              <h1 style="font-family: Arial, Helvetica, sans-serif;"> Sorry, there are no any events at the moment.</h1>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    </main>
  </div>
{% endblock %}
