{% extends 'base2.html' %}

{% block content %}
    <div class="pg-bg">  
        <main>
            <div class="container col-lg history_heading pt-3">
                My Booking History
            </div>

            <div class="container mb-3 history_log">
                <div class="row align-items-center">
                    <div class="container col-xxl-4 col-md-12 mt-md-1">
                        <img src="./static/img/EventPhotos/QSO.jpg" class="history_img" alt="QSO">
                    </div>
                    <div class="container col-xxl-6 col-md-12 mt-md-3">
                        <div class="history_heading">
                            Booking: QSO Finale
                        </div>
                        <div class="history_text">
                            Booking Date: 16/07/2023 17:00pm
                        </div>
                        <div class="history_text">
                            Booking ID: 2214323
                        </div>
                        <div class="history_text">
                            Number of Tickets: 2
                        </div>
                        <div class="history_text mt-2">
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#EmailTickets">
                                Email tickets
                            </button>
                        </div>
                    </div>
                </div>
            </div>
          
            
        </main>
      </body>
    </div>
{% endblock %}