{% extends 'base2.html' %}

{% block content %}
    <div class="pg-bg">  
        <main>
            <div class="container col-lg history_heading pt-3">
                My Booking History
            </div>
            {% for booking in user.bookings %}
            <div class="container mb-3 history_log">
                <div class="row align-items-center">
                    <div class="container col-xxl-6 col-md-12 mt-md-1">
                        <img src="{{booking.event.image}}" class="history_img" alt="QSO">
                    </div>
                    <div class="container col-xxl-6 col-md-12 mt-md-3">
                        <div class="history_heading">
                            Booking: {{booking.event.name}}
                        </div>
                        <div class="history_text">
                            Booking Date: {{booking.booking_date}}
                        </div>
                        <div class="history_text">
                            Booking ID: {{booking.id}}
                        </div>
                        <div class="history_text">
                            Number of Tickets: {{booking.num_tickets}}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
          
            
        </main>
      </body>
    </div>
{% endblock %}